body {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Merriweather', serif;
    color: #0C1D1D;
    box-sizing: border-box;
}
p, li {
    font-size: 1.1rem;
}

/* headings */

.chewy-heading {
    font-size: xx-large;
    font-family: 'Chewy', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}


/* header elements */

header {
    position: fixed;
    z-index: 3;
    background-color: #fff;
    width: 100%;
}

#logo {
    width: 200px;
    margin: 10px 30px;
    float: left;
}

#logo img {
    width: 100%;
}

#topnav>img {
    width: 100%;
}

#main-navigation {
    float: right;
    margin-top: 20px;
}

#main-navigation li {
    display: inline;
}

#main-navigation a {
    font-size: 1.5rem;
    margin-right: 30px;
    text-decoration: none;
    color: #40b0df;
}

.active-page {
    border-bottom: 4px dotted #eb4084;
}



/* home hero styling */
#home-hero {
    width: 100%;
    height: 600px;
    background: url(../images/home-hero2.jpg) no-repeat right center;
    overflow: hidden;
    position: relative;
    border-bottom: 8px solid #eb4084
}

#home-hero-text {
    background-color: rgba(64, 176, 223, .7);
    height: 200px;
    width: 400px;
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.hero-main {
    padding: 5px;
}

hr {
    border-style: dotted none none;
    border-width: 8px;
    border-color: #eb4084;
    margin: -20px auto 0 auto;
    width: 50%;


}

.hero-secondary {
    font-size: x-large;
    font-family: inherit;
    padding: 0 5px 5px 15px;
    text-align: center;
}

/* essentials section styling */

/* intro area */
#essentials-intro {
    width: 66%;
    float: left;
    clear: both;
    padding: 1% 3%;
    box-sizing: border-box;

}

#essentials-intro>h2 {
    text-align: center;
    width: 100%;
}

#essentials-intro>hr {
    margin: 0 auto;
}

#essentials-intro>p {
    font-size: x-large;
    width: 100%;
    text-align: center;
}

/* left essential column */
#left-essentials {
    width: 33%;
    float: left;
    height: 100%;
}

.box-style-left {
    margin-left: 30px;
    background-color: #f8cf40;
    padding: 5% 5%;
    border: 3px solid #eb4084;
    height: 400px;
    width: 400px;
    box-sizing: border-box;
}

.box-style-left>h3 {
    font-size: 1.5rem;
    text-align: center;
}



.essential-image-left {
    padding: 0;
    margin: 5px 0 5px 30px;
    box-sizing: border-box;
}

.essential-image-left>img {
    height: 400px;
    clear: both;
}

/* right essential column */
#right-essentials {
    width: 33%;
    height: 100%;
    margin: 0 auto;
    float: right;
    box-sizing: border-box;
}

.essential-image {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    clear: both;
    box-sizing: border-box;
}

.essential-image>img {
    height: 400px;
}

.box-style-right {
    margin: 5px 15px;
    background-color: #f8cf40;
    padding: 5%;
    border: 3px solid #eb4084;
    height: 400px;
    width: 400px;
    box-sizing: border-box;
}

.box-style-right>h3 {
    font-size: 1.5rem;
    text-align: center;
}

.box-style-right p,
.box-style-right li {
    font-size: 1.1rem;
}


/* aside area */
#about-me {
    width: 33%;
    float: right;
    background-color: #40b0df;
    height: 1427px;
    padding: 1% 3%;
    line-height: 1.5rem;
    box-sizing: border-box;
}


#about-me h2 {
    text-align: left;
}



#about-me .circle-image {
    border-radius: 50%;
    width: 30%;
    padding: 25px;
    float: left;
}

#about-me .about-me-header {
    margin-top: 70px;
}

#about-me-body {
    margin-top: 50px;
    width: 100%;
    clear: both;
}



/* About-me-mobile */
#about-me-mobile {
    display: none;
}

#about-me-mobile h2 {

    display: none;
}

#about-me-mobile-header img {

    display: none;
}

.about-me-mobile-header {
    display: none;
}

.about-me-mobile-body {

    display: none;
}

#about-me-mobile p {
    display: none;
}

.media-filler {
    display: none;
}


/* section divider */
.divider {
    width: 100%;
    padding: 0 0;
    margin: 0 0;

}

/* footer  */

footer {
    margin-top: 15px;
    clear: both;
    border-top: 8px solid #eb4084;
}

#footer-hero {
    width: 100%;
    height: 600px;
    background: url(../images/footer-image.jpg) no-repeat center center;
    overflow: hidden;
    position: relative;
    color: darkslat
}

#footer-hero-text {
    background-color: rgba(64, 176, 223, .7);
    height: 500px;
    width: 400px;
    position: absolute;
    left: 30px;
    bottom: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
}

#footer-hero-text>h1 {
    padding: 10px 5px 0 15px;
}


#footer-hero-text>hr {
    margin: 0 auto 10px;
}

input,
textarea {
    background-color: #f8cf40;
    margin: 0 auto;
    border: 2px solid #eb4084;
    text-align: center;

}

.input-line {
    display: block;
    clear: both;
    line-height: 2rem;
    text-align: center;
}

.small {
    font-size: smaller;
}

.submit-button:hover {
    background-color: #eb4084;
    border: 2px solid #f8cf40;

}

.submit-button {
    text-transform: uppercase;
}

/* pros-cons.html styling */
#pros-hero {
    width: 100%;
    height: 600px;
    background: url(../images/pro-con-hero.jpg) no-repeat center center;
    overflow: hidden;
    position: relative;
    border-bottom: 8px solid #eb4084
}

#pro-con-hero-text {
    background-color: rgba(64, 176, 223, .7);
    height: 200px;
    width: 400px;
    position: absolute;
    left: 30px;
    bottom: 20px;
}


#pro-con-container {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
}



.pros-content,
.cons-content {
    margin-top: 15px;
    padding: 1% 3%;
    width: 90%;
}

.pros-content {
    background-color: #40b0df;
    margin-left:30px;
    margin-right: 7.5px;
}

.pros-content>h3,
.cons-content>h3 {
    font-size: 1.5rem;
    text-align: left;
}


.cons-content {
    background-color: #f8cf40;
    margin-right: 30px;
    margin-left: 7.5px;

}

#pro-con-footer-hero {
    width: 100%;
    height: 600px;
    background: url(../images/pro-footer.jpg) no-repeat right center;
    overflow: hidden;
    position: relative;
    color: darkslat
}

/* tips.html styling */
.tips-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-areas:
        'tip-one tip-two tip-three'
        'tip-image tip-image tip-image'
        'tip-four tip-five tip-six';
    margin: 15px 30px 0 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
}

#tip-one {
    grid-area: tip-one;
}

#tip-two {
    grid-area: tip-two;
}

#tip-three {
    grid-area: tip-three;
}

#tip-image {
    grid-area: tip-image;
    height: 600px;
    overflow: hidden;
    width: 100%;
    background: url(../images/home-hero2.jpg) no-repeat right center;
}

#tip-four {
    grid-area: tip-four;
}

#tip-five {
    grid-area: tip-five;
}

#tip-six {
    grid-area: tip-six;
}

#tip-image-two {
    grid-area: tip-image-two;
    height: 600px;
    overflow: hidden;
    width: 100%;
    background: url(../images/home-hero2.jpg) no-repeat right center;
    display: none;
}


.tip-style-one {
    grid-auto-rows: 1fr;
    background-color: #40b0df;
    padding: 3%;
}

.tip-style-two {
    grid-auto-rows: 1fr;
    background-color: #f8cf40;
    padding: 3%;
}
.info-button {
    line-height: 2rem;
    display: block;
    margin: 15px auto;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #eb4084;
    padding: 5px 25px;
}

.info-button:hover{
    background-color: #0C1D1D;
    color: #fff;

}
audio {
    display: block;
    margin: 0 auto;
}


/* media queries */

/* max 1260px */
@media screen and (max-width: 1260px) {

    #footer-hero-text,
    .box-style-right,
    .box-style-left,
    .essential-image>img,
    .essential-image-left>img {
        width: 350px;
    }

    #about-me {
        height: 1445px;
        line-height: 1.4rem;
    }

    .tips-grid {
        
 
        grid-template-areas:
            'tip-one tip-two'
            'tip-image tip-image' 
            'tip-three tip-four'
            'tip-image-two tip-image-two'
            'tip-five tip-six';
   
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    #tip-image-two {
        display: block;
    }

}

/* max 1107 */
@media screen and (max-width: 1107px) {
    #essentials-intro {
        width: 50%
    }

    #left-essentials {
        width: 50%;
    }

    #right-essentials {
        width: 50%;
        padding-top: 10px;
        float: left;
    }

    #about-me {
        width: 50%;
        height: 2145px;
    }

    .box-style-left {
        margin: 0 auto;
        width: 90%;
        margin: 0 auto;
    }

    .box-style-right {
        margin: 10px auto;
        width: 90%;
        margin: 0 auto;
    }


    .essential-image-left {
        margin: 0 auto;
        text-align: center;
        padding: 10px 0;
    }

    .essential-image {
        padding: 3px 0;
        text-align: center;

    }

    .essential-image>img,
    .essential-image-left>img {
        width: 300px;
        height: 300px;
    }


    .media-filler {
        display: flex;
        border-radius: 0%;
        width: 100%;
    }

    .hidden-image {
        display: none;
    }

    #footer-hero-text {
        height: 600px;
        width: 200px;
        position: absolute;
        left: 0;
        margin: 0 auto;
        bottom: 0;
    }

    /* pros/cons */
    #pro-con-hero-text {
        left: 0;
        bottom: 0;
        height: 168px;
    }

    .pros-content,
    .cons-content {
        padding: 1% 2%;
        margin: 5px;
    }
}


/* max 696px */
@media screen and (max-width: 696px) {

    #home-hero {
        background: url(../images/hero-mobile2.jpg) no-repeat top center;
        height: 550px;
    }

    #home-hero-text {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100%;
        position: absolute;
    }

    .hero-secondary {
        font-size: 1.3rem;
        padding: 0 0;
    }

    .hero-main {
        padding: 0;
        margin-top: 275px;
    }

    #home-hero-text>hr,
    #pro-con-hero-text>hr {

        margin: 0 auto;
        width: 50%;


    }

    #essentials-intro {
        width: 100%
    }

    #left-essentials {
        width: 100%;
    }

    .box-style-left,
    .box-style-right {
        height: 100%
    }

    #right-essentials {
        width: 100%;
        padding-top: 10px;
    }

    #about-me {
        display: none;
    }

    #about-me-mobile {
        width: 100%;
        height: 100%;
        display: inline-block;
        clear: both;
        background-color: #40b0df;
        padding: 10px 0;
        line-height: 1.5rem;
        margin-top: 10px
    }

    #about-me-mobile h2 {
        text-align: left;
        display: inline-block;
    }

    #about-me-mobile hr {
        margin: 3px auto 1px auto;
    }

    #about-me-mobile-header img {
        border-radius: 50%;
        width: 30%;
        text-align: center;
        display: block;
        float: none;
        clear: both;
        margin: 0 auto;
        padding: 15px;
    }

    .about-me-mobile-header {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .about-me-mobile-body {
        width: 90%;
        clear: both;
        padding: 0 5%;
        display: inline-block;
    }

    #about-me-mobile p {
        font-size: 1.1rem;
        display: inline-block;
    }

    .media-filler {
        display: none;
    }

    #footer-hero-text {
        width: 100%;
        bottom: 0;
        padding-top: 15%;
    }

    .circle-image-mobile {
        text-align: center;

    }

    #more {
        display: none;
    }

    #myBtn {
        background-color: transparent;
        border: 2px solid #f8cf40;
        text-transform: uppercase;
        color: #0C1D1D;
        padding: .5rem 1.3rem;
        display: block;
        margin: 0 auto;
        font-size: 1.2rem;

    }

    #myBtn:hover {
        background-color: #f8cf40;
        border: 2px solid #eb4084;
        color: #0C1D1D;
    }

    #pro-con-container {
        flex-direction: column;
        margin: 0;
        justify-content: space-around;
    }

    .pros-content,
    .cons-content {
        padding: 3%;
        margin: 5px auto;
    }

    #pro-con-hero-text {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100%;
        position: absolute;
    }

    #pro-con-footer-hero {
        background: url(../images/pro-con-mobile-footer.jpg) no-repeat center center;
    }
    .tips-grid {
 
        grid-template-areas:
            'tip-one'
            'tip-two'
            'tip-image' 
            'tip-three'
            'tip-four'
            'tip-image-two'
            'tip-five'
            'tip-six';
   
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    #tip-image, #tip-image-two {
        height: 300px;
    }

}
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Merriweather&display=swap');