body {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Merriweather', serif;
    color: #0C1D1D;
    box-sizing: border-box;
}

p,
li {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}


iframe {
    display: block;
    margin: 5px auto;
}

hr {
    border-style: dotted none none;
    border-width: 8px;
    border-color: #eb4084;
    margin: -20px auto 0 auto;
    width: 50%;
}


/* headings */

.chewy-heading {
    font-size: xx-large;
    font-family: 'Chewy', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.hero-main {
    padding: 5px;
}

.hero-secondary {
    font-size: x-large;
    font-family: inherit;
    padding: 0 5px 5px 15px;
    text-align: center;
}


/* buttons */

.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: transparent;
    border: 2px solid #f8cf40;
}

.submit-button {
    text-transform: uppercase;
}
.info-button {
    line-height: 2rem;
    display: block;
    margin: 15px auto;
    text-transform: uppercase;
    background-color: transparent;
    border: 4px solid #eb4084;
    padding: 5px 25px;
    text-align: center;
    color: #0C1D1D;
    width: fit-content;
}

.info-button:hover {
    background-color: #0C1D1D;
    color: #fff;
}


/* header elements */
nav>ul {
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
}

.logo {
    margin: 10px 0 5px 30px;
    display: inline-block;
}

.logo img {
    width: 210px;
}

/* Nav menu */
.menu {
    margin-right: 15px;
}

.menu li {
    margin: 15px;
}

.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}

.nav>ul {
    display: inline-block;
}

.menu a {
    line-height: 4rem;
    color: #40b0df;
    font-size: 1.5rem;
}

.menu a:hover {
    color: #f8cf40;
}

.active-page {
    border-bottom: 4px dotted #eb4084;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
    background: #f8cf40;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: #40b0df;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: #f8cf40;

    }

    .hamb {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav {
        background-color: #fff;
    }
}


/* footer */
.copyright {
    border-top: 1px solid #eb4084;
    background-color: #0C1D1D;
    color: #fff;
    text-align: center;
    padding: 1%;
}

/* index.html styles */

/* home hero styling */
#home-hero {
    width: 100%;
    height: 600px;
    background: url(../images/home-hero2.jpg) no-repeat right center;
    overflow: hidden;
    position: relative;
    border-bottom: 8px solid #eb4084
}

#home-hero-text {
    background-color: rgba(64, 176, 223, .7);
    height: 200px;
    width: 400px;
    position: absolute;
    left: 30px;
    bottom: 20px;
}

/* essentials section styling */

/* grid elements */
#essential-qualifications {
    display: grid;
    margin: 15px 30px 0 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
    grid-template-areas:
        "essentials-intro essentials-intro about-me"
        "financial  right-image-one about-me"
        "left-image time about-me"
        "commitment right-image-two about-me";
    align-items: stretch;
}

#essentials-intro {
    padding: 1% 3%;
    grid-area: essentials-intro;
}

#about-me {
    background-color: #40b0df;
    padding: 1% 3%;
    grid-area: about-me;
}

#financial-stability {
    grid-area: financial;
}

#left-image {
    grid-area: left-image;
    width: 100%;
}

#commitment {
    grid-area: commitment;
}

#right-essential-image-one {
    grid-area: right-image-one;
}

#time {
    grid-area: time;

}

#essential-right-image-two {
    grid-area: right-image-two;
}

/* intro area */

#essentials-intro>hr {
    margin: 0 auto;
}

#essentials-intro>p {
    font-size: x-large;
    text-align: center;
}


/* essential columns */


.box-style-left {
    background-color: #f8cf40;
    padding: 5% 5%;
    border: 3px solid #eb4084;
}

.box-style-left>h3 {
    font-size: 1.5rem;
    text-align: center;
}

.essential-image-left>img,
.essential-image>img {
    width: 100%;
}

.box-style-right {
    background-color: #f8cf40;
    padding: 5%;
    border: 3px solid #eb4084;
}

.box-style-right>h3 {
    font-size: 1.5rem;
    text-align: center;
}

/* aside area */
#about-me h2 {
    text-align: left;
}

#about-me .circle-image {
    border-radius: 50%;
    width: 30%;
    padding: 25px;
    float: left;
}

#about-me .about-me-header {
    margin-top: 70px;
}

#about-me-body {
    margin-top: 50px;
    width: 100%;
    clear: both;
}

#myBtn {
    display: none;
}

/* section divider */
.divider {
    width: 100%;
    padding: 0 0;
    margin: 0 0;
}

/* form areas  */

footer {
    margin-top: 15px;
    clear: both;
    border-top: 8px solid #eb4084;
}


#footer-hero {
    width: 100%;
    height: 600px;
    background: url(../images/footer-image.jpg) no-repeat center center;
    overflow: hidden;
    position: relative;
}

#footer-hero-text {
    background-color: rgba(64, 176, 223, .7);
    height: 500px;
    width: 400px;
    position: absolute;
    left: 30px;
    bottom: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
}

#footer-hero-text>h1 {
    padding: 10px 5px 0 15px;
}


#footer-hero-text>hr {
    margin: 0 auto 10px;
}

input,
textarea {
    background-color: #f8cf40;
    margin: 0 auto;
    border: 2px solid #eb4084;
    text-align: center;
}

.input-line {
    display: block;
    clear: both;
    line-height: 2rem;
    text-align: center;
}

.small {
    font-size: smaller;
}




/* pros-cons.html styling */
#pros-hero {
    width: 100%;
    height: 600px;
    background: url(../images/pro-con-hero.jpg) no-repeat center center;
    overflow: hidden;
    position: relative;
    border-bottom: 8px solid #eb4084
}

#pro-con-hero-text {
    background-color: rgba(64, 176, 223, .7);
    height: 200px;
    width: 400px;
    position: absolute;
    left: 30px;
    bottom: 20px;
}


#pro-con-container {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
}

.pros-content,
.cons-content {
    margin-top: 15px;
    padding: 1% 3%;
    width: 90%;
}

.pros-content {
    background-color: #40b0df;
    margin-left: 30px;
    margin-right: 7.5px;
}

.pros-content>h3,
.cons-content>h3 {
    font-size: 1.5rem;
    text-align: left;
}


.cons-content {
    background-color: #f8cf40;
    margin-right: 30px;
    margin-left: 7.5px;
}

#pro-con-footer-hero {
    width: 100%;
    height: 600px;
    background: url(../images/pro-footer.jpg) no-repeat right center;
    overflow: hidden;
    position: relative;
}

/* tips.html styling */

#tip-hero {
    width: 100%;
    height: 600px;
    background: url(../images/daisy-basket2.jpg) no-repeat top center;
    overflow: hidden;
    position: relative;
    border-bottom: 8px solid #eb4084;
}


.tips-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-areas:
        'tip-one tip-two tip-three'
        'tip-image tip-image tip-image'
        'tip-four tip-five tip-six';
    margin: 15px 30px 0 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
}

#tip-one {
    grid-area: tip-one;
}

#tip-two {
    grid-area: tip-two;
}

#tip-three {
    grid-area: tip-three;
}

#tip-image {
    grid-area: tip-image;
    height: 600px;
    overflow: hidden;
    width: 100%;
    background: url(../images/dog-mac.jpg) no-repeat center center;
}

#tip-four {
    grid-area: tip-four;
}

#tip-five {
    grid-area: tip-five;
}

#tip-six {
    grid-area: tip-six;
}

#tip-image-two {
    grid-area: tip-image-two;
    height: 600px;
    overflow: hidden;
    width: 100%;
    background: url(../images/wren-beanbag.jpg) no-repeat center center;
    display: none;
}


.tip-style-one {
    grid-auto-rows: 1fr;
    background-color: #40b0df;
    padding: 3%;
}

.tip-style-two {
    grid-auto-rows: 1fr;
    background-color: #f8cf40;
    padding: 3%;
}

audio {
    display: block;
    margin: 0 auto;
}

#tips-footer-hero {
    width: 100%;
    height: 600px;
    background: url(../images/brown-lab-right.jpg) no-repeat right center;
    overflow: hidden;
    position: relative;
}

/* media queries */

/* max 1260px */
@media screen and (max-width: 1260px) {

    #right-essential-image-one {
        display: none;
    }

    #essential-qualifications {
        grid-template-areas:
            "essentials-intro about-me"
            "financial about-me"
            "time about-me"
            "commitment about-me"
            "left-image right-image-two";
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .tips-grid {
        grid-template-areas:
            'tip-one tip-two'
            'tip-image tip-image'
            'tip-three tip-four'
            'tip-image-two tip-image-two'
            'tip-five tip-six';
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #tip-image-two {
        display: block;
    }
}

/* max 1107 */
@media screen and (max-width: 1107px) {

    #footer-hero-text {
        height: 600px;
        width: 200px;
        position: absolute;
        left: 0;
        margin: 0 auto;
        bottom: 0;
    }

    /* pros/cons */
    #pro-con-hero-text {
        left: 0;
        bottom: 0;
        height: 168px;
    }

    .pros-content,
    .cons-content {
        padding: 1% 2%;
        margin: 5px;
    }
}

/* max 800px */
@media screen and (max-width: 800px) {
    #tips-footer-hero {
        background: url(../images/brown-lab-mobile.jpg) no-repeat center center;
    }
}

/* max 696px */
@media screen and (max-width: 696px) {

    #home-hero {
        background: url(../images/hero-mobile2.jpg) no-repeat top center;
        height: 550px;
    }

    #home-hero-text {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100%;
        position: absolute;
    }

    .hero-secondary {
        font-size: 1.3rem;
        padding: 0 0;
    }

    .hero-main {
        padding: 0;
        margin-top: 275px;
    }

    #home-hero-text>hr,
    #pro-con-hero-text>hr {
        margin: 0 auto;
        width: 50%;
    }

    #right-essential-image-one {
        display: block;
    }

    #essential-qualifications {
        grid-template-areas:
            "essentials-intro"
            "financial"
            "left-image"
            "time"
            "right-image-two"
            "commitment"
            "right-image-one"
            "about-me";
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    #footer-hero-text {
        width: 100%;
        bottom: 0;
        padding-top: 15%;
    }

    .circle-image-mobile {
        text-align: center;
    }

    #more {
        display: none;
    }

    #myBtn {
        background-color: transparent;
        border: 2px solid #f8cf40;
        text-transform: uppercase;
        color: #0C1D1D;
        padding: .5rem 1.3rem;
        display: block;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    #myBtn:hover {
        background-color: #f8cf40;
        border: 2px solid #eb4084;
        color: #0C1D1D;
    }

    #pro-con-container {
        flex-direction: column;
        margin: 0;
        justify-content: space-around;
    }

    .pros-content,
    .cons-content {
        padding: 3%;
        margin: 5px auto;
    }

    #pro-con-hero-text {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100%;
        position: absolute;
    }

    #pro-con-footer-hero {
        background: url(../images/pro-con-mobile-footer.jpg) no-repeat center center;
    }

    /* tips mobile styling */

    #tip-hero {
        background: url(../images/daisy-basket-mobile.jpg) no-repeat top center;
    }
    .tips-grid {
        grid-template-areas:
            'tip-one'
            'tip-two'
            'tip-image'
            'tip-three'
            'tip-four'
            'tip-image-two'
            'tip-five'
            'tip-six';
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    #tip-image,
    #tip-image-two {
        height: 400px;
    }
    #tip-image-two {
        background: url(../images/wren-beanbag-mobile.jpg) no-repeat center center;
    }
}
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Merriweather&display=swap');