body {
    margin:0 0;
    padding: 0 0;
    font-family: 'Merriweather', serif;
}

/* header elements */
#logo {
    width: 200px;
    margin: 10px 30px;
    float: left;
}
#logo img {
    width:100%;
}

#main-navigation {
    float:right;
    margin-top:20px;
}
#main-navigation li {
    display: inline;
}
#main-navigation a {
    font-size:1.5rem;
    margin-right: 30px;
    text-decoration: none;
    color: #40b0df;
}
.active {
    border-bottom: 2px dotted #eb4084;
} 

/* home hero styling */
#home-hero {
    width: 100%;
    height:600px;
    background: url(../images/home-hero2.jpg) no-repeat right center;
    overflow: hidden;
    position: relative;
}
#home-hero-text {
    background-color: rgba(64, 176, 223, .7);
    height: 200px;
    width: 400px;
    position: absolute;
    right:20px;
    bottom: 20px;
}
#home-hero-text > h1 {
    padding: 10px 5px 5px 15px;
    font-size: xx-large;
    font-family: 'Chewy', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
hr {
    border-style: dotted none none;
    border-width: 8px;
    border-color: #eb4084;
    margin: -5px auto 0 auto;
    width: 50%;


}
#home-hero-text > h2 {
    font-size: x-large;
    font-family: inherit;
    padding: 0 5px 5px 15px;
    text-align: center;
}





/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Merriweather&display=swap');